table{
	width: 100%;
	border-collapse: collapse;
	box-shadow: 3px  3px 3px #ddd;
}

tr:nth-child(even){
	background:#ddd;
}
td,
th{
	padding:1%;
}
.skdiv{
	width: 100%;
	border-left: 3px solid #0E4DBA;
	padding: 1%;

}
span{
	background:#0E4DBA;
	color: #fff;
	border:1px solid #ddd;
	box-shadow: 3px 3px 3px #ddd;
	margin: 1%;
	padding: 1%;
	border-radius: 5px;
}
.parent{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.child1{
	width: 30%;
	border: 1px solid #ddd;
	padding: 1%;
	margin:1%;
	text-align: center;
	background:pink;

}
.child2{
	width: 70%;
	border: 1px solid #ddd;
	padding: 1%;
	margin:1%;
	text-align: center;
	background:skyblue;
}

.profile{
	width: 200px;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

a{
	text-align: center;
	color:red;
	word-wrap: break-word;
}
h3{
	color: red;
}
p{
	color: blue;
}
/*small screens*/
@media only screen and (min-width: 320px) and (max-width: 480px){


.parent{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.child1{
	width: 100%;
	border: 1px solid #ddd;
	padding: 1%;
	margin:1%;
	text-align: center;
	background:skyblue;

}
.child2{
	width: 100%;
	border: 1px solid #ddd;
	padding: 1%;
	margin:1%;
	text-align: center;
}


}
/*medium screens*/
@media only screen and (min-width: 481px) and (max-width: 768px){
	.parent{
	display: flex;
	flex-direction:row;
	justify-content: center;
	font-size: 18px;
}
.child1{
	width: 40%;
	border: 1px solid #ddd;
	padding: 1%;
	margin:1%;
	text-align: center;
	background:#ddd;

}
.child2{
	width: 60%;
	border: 1px solid #ddd;
	padding: 1%;
	margin:1%;
	text-align: center;
	background:pink;
}
	}
/*large screen*/
@media only screen and (min-width: 769px) and (max-width: 1024px){
	.parent{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.child1{
	width: 100%;
	border: 1px solid #ddd;
	padding: 1%;
	margin:1%;
	text-align: center;
	background: pink;

}
.child2{
	width: 100%;
	border: 1px solid #ddd;
	padding: 1%;
	margin:1%;
	text-align: center;
	background: skyblue;
}
	

*{
	font-size: 45px;
}
}